@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

:root {
    --red: #BA0000;
    --light-dark: #242424;
    --black: #000;
}

.container {
    width: 100%;
    padding: 0 12.5rem;
}

.primary-btn {
    width: 20rem;
    height: 3.125rem;
    background: var(--red);
    color: white;
    border: 1px solid var(--red);
    cursor: pointer;
    font-weight: 600;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), lightgray 50% / cover no-repeat;

    .main__container {

        .main__title {
            font-size: 4.5rem;
            font-weight: 500;
            color: white;
            margin-bottom: 1.25rem;
        }

        .main__description {
            max-width: 25rem;
            font-size: 1.125rem;
            color: white;
            line-height: 130%;
            margin-bottom: 2.5rem;
        }
    }
}

header {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .header__menu {
            display: flex;
            align-items: center;
            gap: 4.8rem;

            > ul {
                display: flex;
                align-items: center;
                list-style: none;
                gap: 3.12rem;

                > li {

                    > a {
                        color: white;
                    }
                }
            }

            > div {
                color: white;
                display: flex;
                flex-direction: column;
                gap: .3rem;
                text-align: right;
                font-size: 1.125rem;

                > a {
                    font-size: 1.125rem;
                    color: white;
                    text-decoration: underline;
                }
            }
        }

        .header__logo-container {
            display: flex;
            align-items: center;
            gap: .6rem;

            .header__logo-image-container {
                width: 4.375rem;
                height: 3.75rem;
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .header__logo-subtext {
                color: white;
                font-size: 2.25rem;
            }
        }
    }
}

.main-title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3.75rem;
    line-height: 100%;
    text-transform: uppercase;
}

section {
    padding: 5rem 0;

    .section__about-us {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3.75rem;

        .section__about-us__title {
            margin-bottom: 4.7rem;
        }

        .section__about-us__description {
            font-size: 2rem;
            font-weight: 500;
            line-height: 120%;
            margin-bottom: 2rem;
        }

        .section__about-us__image-container {
            width: 100%;
            height: 100%;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .section__objects {


        .section__objects__wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3.75rem;
            margin-bottom: 3.75rem;

            > a {
                text-decoration: none;
                color: var(--light-dark);
            }

            .object__card {

                .object__card-image {
                    position: relative;
                    aspect-ratio: 22.5 / 22.5;

                    .object__card-image__more {
                        position: absolute;
                        width: 7.5rem;
                        height: 7.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 1rem;
                        right: 1rem;
                        background: var(--red);
                        color: white;
                        border-radius: 100%;
                    }

                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .object__cart-title {
                    padding-top: 1.25rem;
                    margin-top: 1.25rem;
                    border-top: 1px solid var(--red);

                    font-size: 1.5625rem;
                    font-weight: 700;
                    line-height: 120%;
                }
            }
        }
    }
}

.banner {
    padding: 2.5rem 0;
    background: var(--light-dark);

    .banner__container {

        .banner__top {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 2rem;
            margin-bottom: 2.5rem;

            .banner__top__title {
                text-transform: uppercase;
                color: white;
                font-size: 1.5625rem;
                font-weight: 700;
            }

            .banner__top__description {
                color: white;
                font-size: 1.125rem;
                font-weight: 400;
            }
        }

        .banner__bottom {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3.75rem;

            > div {
                border-top: 1px solid var(--red);
                padding-top: 1.25rem;

                .banner__bottom__title {
                    font-size: 4rem;
                    line-height: 110%;
                    color: var(--red);
                    margin-bottom: .3rem;
                }

                .banner__bottom__description {
                    color: rgba(255, 255, 255, 0.80);
                    line-height: 140%;
                }
            }
        }
    }
}

#partnersSlider {
    padding: 2.5rem 0;

    .swiper-wrapper {

        .swiper-slide {
            aspect-ratio: 23.75 / 9.375;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#bigSlider {

    #bigSliderNext::after {
        content: url("/assets/img/arrow.svg");
        position: absolute;
        right: 60px !important;
    }

    #bigSliderPrev::after {
        content: url("/assets/img/arrow.svg");
        transform: rotate(-180deg);
        position: absolute;
        left: 60px !important;
    }

    .swiper-wrapper {
        height: 43.75rem;

        .swiper-slide {
            height: 100%;
            max-width: 75rem;

            &.swiper-slide-next,
            &.swiper-slide-prev {
                transition: .3s;
                opacity: .2;
            }

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.section__services {

    .section__services-heading {
        display: grid;
        gap: 3.7rem;
        grid-template-columns: 1fr 1fr 1fr;

        .section__services-description {
            grid-column: span 2;
        }
    }

    .section__services-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.7rem;
        margin-bottom: 3.75rem;
    }
}

.service-card {
    padding: 1.25rem;
    background: var(--light-dark);

    .service-card__title {
        font-size: 1.5625rem;
        font-weight: 700;
        line-height: 120%;
        color: white;
        padding-bottom: .6rem;
    }

    .service-card__description {
        font-size: 1.125rem;
        color: white;
    }

    .service-card__image-container {
        aspect-ratio: 20 / 20;
        margin-bottom: .95rem;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#achievementsSlider {

    .achievementsSlide {
        padding: 1.88rem;
        aspect-ratio: 23.75 / 30.25;
        background: #D9D9D9;

        .achievementsSlide__image {
            width: 100%;
            height: 100%;
            background: #242424;

            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/*footer {*/
/*    padding: 2.55rem 0 4.2rem 0;*/
/*    background: var(--light-dark);*/

/*    .footer__container {*/
/*        display: grid;*/
/*        grid-template-columns: 2fr 1fr;*/
/*    }*/
/*}*/

.page-heading {
    padding-top: 12.6rem;
    padding-bottom: 3.75rem;
    background-position: center;

    .page-heading__container {

        > p {
            color: white;
            font-size: 2.25rem;
            padding-left: .5rem;
            border-left: .25rem solid var(--red);
            line-height: 100%;
            text-transform: uppercase;
        }
    }
}

.section__contacts {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: var(--light-dark);

    .contacts__info {

        .contacts__title {
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 100%;
            margin-bottom: .75rem;
        }

        > ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: .6rem;
            margin-bottom: 1.25rem;

            > li {

                > a {
                    color: var(--light-dark);
                }
            }
        }

        .contacts-socials {
            display: flex;
            gap: 1.25rem;
            align-items: center;
        }
    }

    .contacts__map {
        background: #242424;
    }
}
